@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: "extemporal";
  src: url("../assets/fonts/extemporal-demo/ExtemporalDemoRegular.ttf"); }

/*externas*/
/*importar las secciones*/
/*clases sass para el nav*/
.nav {
  justify-content: flex-end; }
  .nav ul {
    list-style-type: none; }
    .nav ul li {
      list-style-type: none;
      display: inline;
      margin-left: 10px;
      margin-right: 10px; }
      .nav ul li a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: medium;
        color: chocolate; }

/*propiedades de css defecto para todo*/
* {
  margin: 0px;
  padding: 0px; }

.header {
  padding-top: 20px;
  background-color: #e6e9e9; }

.main {
  background-color: #cbcece;
  border-radius: 2px; }

.search {
  padding: 5px; }

.input-search {
  margin: 5px; }

.content-home {
  padding: 5px; }

.center {
  justify-content: center; }

.logo {
  height: 50px;
  width: 50px;
  justify-content: flex-end; }

.text-logo {
  color: chocolate;
  justify-content: start; }

/*botones*/
.button {
  background-color: chocolate;
  color: #e6e9e9;
  margin: 5px; }

.negrita {
  font-weight: bold;
  font-size: 20px; }

/*footer*/
.logo-footer {
  width: 40px; }

.footer {
  text-align: center;
  padding: 5px; }

.parrafo-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  color: chocolate; }

.image-recetas {
  height: 300px; }
