
/*footer*/
.logo-footer{
  width: 40px;
}
.footer{
  text-align: center;
  padding: 5px;
}

.parrafo-footer{
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  color: $default-button-color;
}

.image-recetas{
  height: 300px;
}
